/*
	Styles for game title and description.
	Custom image styling done via configuration so it's easier to edit by
 	the user
*/

.MMM-ITCH-IO .gameTitle{
	weight: bold;
	text-align: justify;
}

.MMM-ITCH-IO img{
	padding-top: 10px;
}

.MMM-ITCH-IO .small{
	max-width: 320px;
	text-align: justify;
}
